Source: linuxmuster-base
Section: debian-linuxmuster
Priority: optional
Maintainer: Thomas Schmitt <schmitt@lmz-bw.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: linuxmuster-base
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, dialog, dpkg, expect, pwgen, hostname, perl, procmail, ruby, libsysadm-install-perl, libenv-bash-perl, libimap-admin-perl, libpgsql-ruby1.8, libterm-readkey-perl, linuxmuster-tasks, linuxmuster-imaging-linbo, linuxmuster-imaging-rembo, linuxmuster-imaging-tivoli, linuxmuster-server, linuxmuster-common, linuxmuster-desktop, sed, dpkg-dev
Conflicts: exim4, apache, passwd3
Description: Linux-Musterloesung configuration scripts
 This package provides configuration scripts for the Linux-Musterloesung

Package: linuxmuster-prepare
Priority: optional
Section: debian-installer
Architecture: all
Depends: ${shlibs:Depends}, mounted-partitions, fdisk-udeb, localechooser, cdrom-detect, sarge-support, hw-detect, mdcfg-utils, finish-install
Description: Konfiguration der Linux-Musterloesung
XC-Package-Type: udeb
