/*
*.main {
	font-family: Times New Roman;
	font-size: 12px;
}*/

.author {
     font-weight: normal;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}

img {
	border-style: none;
}

table.layout {
	padding:0px;
	margin:0px;
	border-style:none;
	width:843px;
}

table.main {
	padding:0px;
	margin:0px;
	border-style:none;
	width:691px;
}

table.edition {
	padding:0px;
	margin:0px;
	border-style:none;
	width:150px;
}

table.titlepage {
	padding:0px;
	margin:0px;
	border-style:none;
	width:844px;
}

table.titlepage_content {
	padding:0px;
	margin:0px;
	border-style:none;
	width:800px;
	height:240px;
}


td.edition {
	text-align: center;
}

.mediaobject {
	margin-top: 10px;
	margin-bottom: 10px;
}

